@keyframes fondo {
  0% {
    background-color: #0f0d1b;
  }
  50% {
    background-color: #190e24;
  }
  75% {
    background-color: #0c1a1a;
  }
  100% {
    background-color: #0f0d1b;
  }
}

body {
  font-family: "Pixelify Sans", sans-serif;
  color: antiquewhite;
  text-align: center;
  animation: fondo 10s infinite;
}

header {
  font-size: 28px;
  color: #fff2a1;
}

h1 {
  margin-bottom: 0px;
}

.version-2 {
  display: block;
  font-size: 28px;
  color: #a9ffa1;
  margin-bottom: -20px;
}

.ascii {
  color: #f6f7d6;
  font-size: 16px;
  font-family: monospace;
  line-height: 1.2;
  margin-bottom: 0px;
}

p {
  font-size: 22px;
}

.links {
  display: block;
  text-decoration: none;
  font-size: 28px;
  color: #a1ffdb;
  margin-bottom: -15px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.links:hover {
  color: beige;
  font-size: 34px;
}

.links:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.links img {
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 0;
  max-width: 850px;
  margin: 0 auto;
}

img {
  width: 90px;
  margin-top: 25px;
}

.mate {
  font-size: 20px;
  color: #fff9d2;
  margin-bottom: 25px;
}

h2,
h3 {
  font-size: 36px;
}
